body {
	margin:0;
	font-family:Roboto, sans-serif;
	--color-primary:255,193,7;
	--color-text:50,50,50;
	--color-text-primary:245,127,23;
}

/* App bar */
.appBar.top {
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:50;
}
.appBar.top .title {
	font-family:'Product Sans', Roboto, sans-serif;
}

/* Main Content */
main {
	margin:70px auto 8px auto;
	width:800px;
	max-width:100%;
	box-sizing:border-box;
	padding:0 16px;
}
h1 {
	font-weight:500;
	padding-top:36px;
}
h2 {
	margin:0;
	padding-top:10px;
	font-weight:500;
}

a[href] {
	color:#1976D2;
}

#banner {
	width:100%;
	height:200px;
	object-fit:cover;
}

/* Example page */
.imageList {
	grid-auto-rows:200px;
	grid-template-columns:repeat(3, auto);
}
@media screen and (max-width:550px) {
	.imageList {
		grid-auto-rows:150px;
		grid-template-columns:repeat(2, auto);
	}
}