body {
	margin:0;
	font-family:Roboto, sans-serif;
}

/* App bar */
.appBar.top {
	background-color:#FFC107;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:50;
}
.appBar.top .title {
	font-family:'Product Sans', Roboto, sans-serif;
	color:#333;
}

/* Nav drawer */
nav.drawer .item.active {
	background-color:#FFF9C4;
	color:#F57F17;
}
nav.drawer .item.active svg {
	fill:#F57F17;
}

/* Main Content */
main {
	margin:70px auto 8px auto;
	max-width:100%;
	box-sizing:border-box;
	padding:0 16px;
}
h2 {
	margin:0;
	padding-top:10px;
}

a[href] {
	color:#1976D2;
}