<!DOCTYPE html>
<html>
	<head>
		<title>Cards</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../styles/colors.css" />
		
		<!-- Supporting -->
		<link rel="stylesheet" href="../styles/buttons.css" />
		<link rel="stylesheet" href="../styles/dividers.css" />
		<link rel="stylesheet" href="../styles/chips.css" />
		
		<link rel="stylesheet" href="../styles/cards.css" />
	</head>
	<body>
		<h1>Cards</h1>
		<h3>Elevated</h3>
		<div class="card smallImg">
			<span class="title">Title goes here</span>
			<span class="secondary">Secondary line text Lorem ipsum dolor sit amet</span>
			<img class="smallImg" src="../res/sample_avatar.jpg" />
			<button type="button" class="text">Action 1</button>
			<button type="button" class="text">Action 2</button>
		</div>
		<br>
		<div class="card fullImg avatar">
			<img class="avatar" src="../res/sample_avatar.jpg" />
			<span class="title">Title goes here</span>
			<span class="secondary">Secondary text</span>
			<img class="fullImg" src="../res/sample_avatar.jpg" />
			<span class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
			<button type="button" class="text">Action 1</button>
			<button type="button" class="text">Action 2</button>
		</div>
		<br>
		<div class="card fullImg">
			<img class="fullImg" src="../res/sample_avatar.jpg" />
			<span class="title">Title</span>
			<span class="secondary dark">Secondary text</span>
			<span class="body">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</span>
			<hr>
			<span class="subtitle">Subtitle</span>
			<div style="padding:0 8px;">
				<button type="button" class="chip">Item 1</button>
				<button type="button" class="chip">Item 2</button>
				<button type="button" class="chip">Item 3</button>
				<button type="button" class="chip">Item 4</button>
			</div>
			<button type="button" class="text">Action 1</button>
		</div>
		
		<h3>Outlined</h3>
		<div class="card outlined smallImg">
			<span class="overline">Overline</span>
			<span class="title">Headline 5</span>
			<span class="secondary">Greyhound divisively hello coldly wonderfully</span>
			<img class="smallImg" src="../res/sample_avatar.jpg" />
			<button type="button" class="text">Button</button>
			<button type="button" class="text">Button</button>
		</div>
	</body>
</html>