<!DOCTYPE html>
<html>
	<head>
		<title>Lists</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../styles/colors.css" />
		
		<!-- Supporting -->
		<link rel="stylesheet" href="../styles/selection_controls.css" />
		<link rel="stylesheet" href="../styles/dividers.css" />
		
		<link rel="stylesheet" href="../styles/lists.css" />
		
		<!-- For demo purposes -->
		<style>
			h3 + .list {
				background-color:#DDD;
				padding:20px;
			}
		</style>
	</head>
	<body>
		<h1>Lists</h1>
		<h3>One line</h3>
		<div class="list">
			<div class="item">Single-line item</div>
			<br>
			<div class="item">
				<svg viewBox="0 0 24 24"><path d="M14.88,16.29L13,18.17V14.41M13,5.83L14.88,7.71L13,9.58M17.71,7.71L12,2H11V9.58L6.41,5L5,6.41L10.59,12L5,17.58L6.41,19L11,14.41V22H12L17.71,16.29L13.41,12L17.71,7.71Z" /></svg>
				<span>Single-line item</span>
			</div>
			<br>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>Single-line item</span>
			</div>
			<br>
			<div class="item">
				<img class="large" src="../res/placeholder.svg" />
				<span>Single-line item</span>
			</div>
			<br>
			<div class="item">
				<img class="long" src="../res/placeholder.svg" />
				<span>Single-line item</span>
			</div>
		</div>
		<br>
		<div class="list">
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>Single-line item</span>
			</div>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>Single-line item</span>
			</div>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>Single-line item</span>
			</div>
		</div>
		<br>
		<div class="list">
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>Single-line item</span>
				<input type="checkbox" role="checkbox" id="input1" checked />
				<label for="input1"></label>
			</div>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>Single-line item</span>
				<input type="checkbox" role="checkbox" id="input2" />
				<label for="input2"></label>
			</div>
		</div>
		<br>
		<div class="list">
			<div class="item">
				<input type="checkbox" role="checkbox" id="input3" checked />
				<label for="input3"></label>
				<span>Single-line item</span>
			</div>
			<div class="item">
				<input type="checkbox" role="checkbox" id="input4" />
				<label for="input4"></label>
				<span>Single-line item</span>
			</div>
		</div>
		
		<h3>Two line</h3>
		<div class="list">
			<div class="item">
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
			<br>
			<div class="item">
				<span>
					<span class="overline">Overline</span>
					Two-line item
				</span>
			</div>
			<br>
			<div class="item">
				<svg viewBox="0 0 24 24"><path d="M14.88,16.29L13,18.17V14.41M13,5.83L14.88,7.71L13,9.58M17.71,7.71L12,2H11V9.58L6.41,5L5,6.41L10.59,12L5,17.58L6.41,19L11,14.41V22H12L17.71,16.29L13.41,12L17.71,7.71Z" /></svg>
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
			<br>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
			<br>
			<div class="item">
				<img class="large" src="../res/placeholder.svg" />
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
			<br>
			<div class="item">
				<img class="long" src="../res/placeholder.svg" />
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
		</div>
		<br>
		<div class="list">
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>
					Two-line item
					<span class="secondary">Secondary text</span>
				</span>
			</div>
		</div>
		
		<h3>Three line</h3>
		<div class="list">
			<div class="item">
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
			<br>
			<div class="item">
				<span>
					<span class="overline">Overline</span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit amet</span>
				</span>
			</div>
			<br>
			<div class="item">
				<svg viewBox="0 0 24 24"><path d="M14.88,16.29L13,18.17V14.41M13,5.83L14.88,7.71L13,9.58M17.71,7.71L12,2H11V9.58L6.41,5L5,6.41L10.59,12L5,17.58L6.41,19L11,14.41V22H12L17.71,16.29L13.41,12L17.71,7.71Z" /></svg>
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
			<br>
			<div class="item">
				<img src="../res/placeholder.svg" />
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
			<br>
			<div class="item">
				<img class="large" src="../res/placeholder.svg" />
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
			<br>
			<div class="item">
				<img class="long" src="../res/placeholder.svg" />
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
		</div>
		<br>
		<div class="list">
			<div class="item">
				<img class="long" src="../res/placeholder.svg" />
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
			<hr class="short">
			<div class="item">
				<img class="long" src="../res/placeholder.svg" />
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
			<hr class="short">
			<div class="item">
				<img class="long" src="../res/placeholder.svg" />
				<span>
					Three-line item
					<span class="secondary">Secondary line text Lorem ipsum dolor sit<br>amet, consectetur adipisicing elit.</span>
				</span>
			</div>
		</div>
	</body>
</html>