<!DOCTYPE html>
<html>
	<head>
		<title>Progress indicators</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../styles/progress_indicators.css" />
	</head>
	<body>
		<h1>Progress indicators</h1>
		<h3>Circular</h3>
		<svg class="progress circular" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg"><circle fill="none" stroke-width="4" stroke-linecap="square" stroke="#6200EA" cx="24" cy="24" r="20"></circle></svg>
		
		<h3>Determinate</h3>
		<div class="progress linear">
			<div class="determinate" style="width:60%;"></div>
		</div>
		
		<h3>Indeterminate</h3>
		<div class="progress linear">
			<div class="indeterminate"></div>
		</div>
	</body>
</html>