<!DOCTYPE html>
<html>
	<head>
		<title>Sliders</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../styles/sliders.css" />
	</head>
	<body>
		<h1>Sliders</h1>
		<h3>Continuous</h3>
		<input type="range" min="0" max="100" /><br><br>
		<input type="range" min="0" max="100" disabled />
		
		<h3>Discrete</h3>
		<input type="range" min="0" max="100" step="10" /><br><br>
		<input type="range" min="0" max="100" step="10" disabled />
	</body>
</html>