<!DOCTYPE html>
<html>
	<head>
		<title>Snackbars</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../styles/colors.css" />
		
		<!-- Supporting -->
		<link rel="stylesheet" href="../styles/buttons.css" />
		
		<link rel="stylesheet" href="../styles/snackbars.css" />
	</head>
	<body>
		<h1>Snackbars</h1>
		<div class="snackbar">
			<span>Single-line message.</span>
		</div>
		<br>
		<div class="snackbar">
			<span>Single-line message with action.</span>
			<button type="button" class="text">Action</button>
		</div>
		<br>
		<div class="snackbar">
			<span>Two-line message<br>with action.</span>
			<button type="button" class="text">Action</button>
		</div>
		<br>
		<div class="snackbar long">
			<span>Two-line message<br>with action.</span>
			<button type="button" class="text">Longer action text</button>
		</div>
	</body>
</html>