<!DOCTYPE html>
<html>
	<head>
		<title>Text fields</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<link rel="stylesheet" href="../styles/colors.css" />
		<link rel="stylesheet" href="../styles/text_fields.css" />
	</head>
	<body>
		<h1>Text fields</h1>
		<h3>Filled</h3>
		<div class="field" data-helper="Helper text">
			<input type="text" id="input1" placeholder=" " />
			<label for="input1">Label</label>
		</div>
		<div class="field error" data-helper="Error message">
			<input type="text" id="input2" value="Wrong input" placeholder=" " />
			<label for="input2">Label</label>
		</div>
		<div class="field">
			<input type="text" id="input3" placeholder=" " disabled />
			<label for="input3">Label</label>
		</div>
		<div class="field">
			<svg viewBox="0 0 24 24"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
			<input type="text" id="input4" placeholder=" " />
			<label for="input4">Label</label>
		</div>
		<div class="field">
			<svg class="end" viewBox="0 0 24 24"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
			<input type="text" id="input5" placeholder=" " />
			<label for="input5">Label</label>
		</div>
		
		<h3>Outlined</h3>
		<div class="field outlined" data-helper="Helper text">
			<input type="text" id="input6" placeholder=" " />
			<label for="input6">Label</label>
		</div>
		<div class="field outlined error" data-helper="Error message">
			<input type="text" id="input7" value="Wrong input" placeholder=" " />
			<label for="input7">Label</label>
		</div>
		<div class="field outlined">
			<input type="text" id="input8" placeholder=" "  disabled />
			<label for="input8">Label</label>
		</div>
		<div class="field outlined">
			<svg viewBox="0 0 24 24"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
			<input type="text" id="input9" placeholder=" " />
			<label for="input9">Label</label>
		</div>
		<div class="field outlined">
			<svg class="end" viewBox="0 0 24 24"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>
			<input type="text" id="input10" placeholder=" " />
			<label for="input10">Label</label>
		</div>
	</body>
</html>