nav.nav.bottom {
	height:56px;
	width:100%;
	background-color:#FFF;
	display:flex;
	justify-content:center;
	box-shadow:0 -3px 6px 0 rgba(0,0,0,.2);
}
nav.nav.bottom button.bottomItem {
	background-color:transparent;
	border-radius:500px;
	color:#777;
	fill:#777;
	
	height:56px;
	min-width:80px;
	max-width:168px;
	padding:0 12px;
	align-items:center;
	flex:1;
	
	border:0;
	cursor:pointer;
	
	transition:width 0.2s, color 0.2s, fill 0.2s, background-color 0.2s;
}
nav.nav.bottom button.bottomItem:focus {
	outline:none;
	background-color:rgba(0,0,0,.1);
}
nav.nav.bottom.colored button.bottomItem:focus {
	background-color:rgba(255,255,255,.2);
}
nav.nav.bottom button.bottomItem.active {
	color:#6200EA;
	color:rgba(var(--color-text-primary, 98, 0, 234),1);
	fill:#6200EA;
	fill:rgba(var(--color-text-primary, 98, 0, 234),1);
}
nav.nav.bottom button.bottomItem svg {
	height:24px;
	width:24px;
	fill:inherit;
	transition:transform 0.2s;
}
nav.nav.bottom.dynamic button.bottomItem svg {
	transform:translateY(8px);
}
nav.nav.bottom.dynamic button.bottomItem.active svg {
	transform:translateY(0);
}
nav.nav.bottom button.bottomItem span {
	display:block;
	font-family:inherit;
	font-size:12px;
	letter-spacing:.5px;
	font-weight:500;
	transition:opacity 0.2s;
}
nav.nav.bottom.dynamic button.bottomItem span {
	opacity:0;
}
nav.nav.bottom.dynamic button.bottomItem.active span {
	opacity:1;
}
nav.nav.bottom button.bottomItem svg path {
	fill:inherit;
}

nav.nav.bottom.colored {
	background-color:#6200EA;
	background-color:rgba(var(--color-primary, 98, 0, 234),1);
}
nav.nav.bottom.colored button.bottomItem {
	background-color:transparent;
	color:rgba(255,255,255,.5);
	color:rgba(var(--color-text, 255, 255, 255),.5);
	fill:rgba(255,255,255,.5);
	fill:rgba(var(--color-text, 255, 255, 255),.5);
}
nav.nav.bottom.colored button.bottomItem.active {
	color:#FFF;
	color:rgba(var(--color-text, 255, 255, 255),1);
	fill:#FFF;
	fill:rgba(var(--color-text, 255, 255, 255),1);
}