button.fab {
	background-color:#000;
	background-color:rgba(var(--color-secondary, 0, 0, 0),1);
	box-shadow:0 3px 16px 0 rgba(0,0,0,.6);
	
	height:56px;
	width:56px;
	padding:16px;
	align-items:center;
	display:flex;
	vertical-align:middle;
	
	border:0;
	border-radius:50px;
	cursor:pointer;
	
	transition:background-color 0.2s, filter 0.2s;
}
button.fab.extended {
	height:48px;
	width:initial;
	min-width:48px;
	color:#FFF;
	color:rgba(var(--color-text-secondary, 255, 255, 255),1);
	text-transform:uppercase;
	white-space:nowrap;
	font-family:inherit;
	font-size:14px;
	letter-spacing:1px;
	font-weight:500;
	padding:0 20px 0 12px;
}
button.fab.mini {
	height:40px;
	width:40px;
	padding:8px;
}
button.fab svg {
	height:24px;
	width:24px;
	fill:#FFF;
	fill:rgba(var(--color-text-secondary, 255, 255, 255),1);
}
button.fab svg path {
	fill:inherit;
}
button.fab.extended svg {
	padding-right:12px;
}
button.fab[disabled] {
	cursor:default;
	opacity:0.6;
}
button.fab:focus {
	outline:none;
	background-color:#666;
	background-color:rgba(var(--color-secondary, 0, 0, 0),1);
	filter:brightness(115%);
}