button.contained,
button.outlined,
button.text {
	background-color:#6200EA;
	background-color:rgba(var(--color-primary, 98, 0, 234),1);
	color:#FFF;
	color:rgba(var(--color-text, 255, 255, 255),1);
	box-shadow:0 2px 3px 0 rgba(0,0,0,.3);
	
	font-family:inherit;
	font-size:14px;
	letter-spacing:1px;
	font-weight:500;
	
	height:36px;
	padding:0 16px;
	align-items:center;
	display:inline-flex;
	vertical-align:middle;
	
	border:0;
	border-radius:5px;
	cursor:pointer;
	text-transform:uppercase;
	white-space:nowrap;
	
	transition:background-color 0.2s, box-shadow 0.2s, filter 0.2s;
}
button.contained svg,
button.outlined svg,
button.text svg {
	height:18px;
	width:18px;
	margin-left:-4px;
	padding-right:8px;
	fill:#FFF;
	fill:rgba(var(--color-text, 255, 255, 255),1);
}
button.outlined svg,
button.text svg {
	fill:#6200EA;
	fill:rgba(var(--color-text-primary, 98, 0, 234),1);
}
button.contained svg path,
button.outlined svg path,
button.text svg path {
	fill:inherit;
}
button.contained[disabled] {
	cursor:default;
	color:#909090;
	background-color:#cccccc;
	box-shadow:none;
}
button.contained:hover {
	box-shadow:0 2px 7px 0 rgba(0,0,0,.6);
}
button.contained[disabled]:hover,
button.outlined[disabled]:hover,
button.text[disabled]:hover {
	box-shadow:none;
}
button.contained:focus {
	filter:brightness(115%);
}
button.contained:focus,
button.outlined:focus,
button.text:focus {
	outline:none;
	background-color:#873df2;
	background-color:rgba(var(--color-primary, 98, 0, 234),1);
}
button.contained:active {
	box-shadow:0 4px 16px 0 rgba(0,0,0,.6);
}

button.outlined,
button.text {
	background-color:transparent;
	box-shadow:none;
	color:#6200EA;
	color:rgba(var(--color-text-primary, 98, 0, 234),1);
}
button.outlined {
	border:1px solid #b0b0b0;
}
button.outlined[disabled],
button.text[disabled] {
	color:#909090;
	cursor:default;
}
button.outlined:hover,
button.text:hover {
	background-color:rgba(179,136,255,.2);
	background-color:rgba(var(--color-primary, 98, 0, 234),.1);
}
button.outlined[disabled]:hover,
button.text[disabled]:hover {
	background-color:transparent;
}
button.outlined:focus,
button.text:focus {
	background-color:rgba(179,136,255,.4);
	background-color:rgba(var(--color-primary, 98, 0, 234),.3);
}

.toggleRow {
	display:inline-flex;
}
button.toggle {
	height:48px;
	width:48px;
	padding:3px;
	border:1px solid #e0e0e0;
	box-sizing:border-box;
	margin:0 -1px 0 0;
	position:relative;
	z-index:1;
	background-color:#FFF;
	transition:background-color 0.2s, border 0.2s;
	cursor:pointer;
}
button.toggle svg {
	padding:8px;
	border-radius:50%;
	background-color:transparent;
	transition:background-color 0.2s;
	height:24px;
	width:24px;
}
button.toggle[disabled] {
	cursor:default;
}
button.toggle[disabled] svg {
	opacity:.4;
}
button.toggle:hover {
	background-color:#f5f5f5;
}
button.toggle[disabled]:hover {
	background-color:#FFF;
}
button.toggle:focus {
	outline:none;
}
button.toggle:focus svg {
	background-color:#e0e0e0;
}
button.toggle.active {
	background-color:#e0e0e0;
	border:1px solid #c4c4c4;
	z-index:3;
}

button.icon {
	border:0;
	height:32px;
	width:32px;
	background:none;
	cursor:pointer;
	padding:0;
	box-sizing:border-box;
	border-radius:50px;
	transition:background-image 0.2s, background-color 0.2s, box-shadow 0.2s;
}
button.icon svg {
	height:24px;
	width:24px;
	padding:4px;
	vertical-align:middle;
	fill:#666;
}
button.icon svg path {
	fill:inherit;
}
button.icon[disabled] {
	opacity:.6;
	cursor:default;
}
button.icon:hover {
	box-shadow:0 0 0 8px rgba(0,0,0,.1);
	background-color:rgba(0,0,0,.1);
}
button.icon[disabled]:hover {
	box-shadow:none;
	background-color:transparent;
}
button.icon:focus {
	box-shadow:0 0 0 8px rgba(0,0,0,.15);
	background-color:rgba(0,0,0,.15);
	outline:none;
}
button.icon:active {
	box-shadow:0 0 0 8px rgba(0,0,0,.2);
	background-color:rgba(0,0,0,.2);
}