[aria-title] {
	position:relative;
}
[aria-title]:after {
	content:attr(aria-title);
	position:absolute;
	bottom:-25px;
	opacity:0;
	pointer-events:none;
	user-select:none;
	left:50%;
	transform:translateX(-50%);
	height:24px;
	background-color:rgba(97,97,97,.9);
	padding:0 8px;
	display:flex;
	align-items:center;
	color:#FFF;
	font-size:10px;
	border-radius:4px;
	white-space:nowrap;
	transition:bottom 0.15s, opacity 0.15s;
	transition-delay:0.2s;
}
[aria-title]:hover:after {
	opacity:1;
	bottom:-30px;
}
@media screen and (max-width: 500px) {
	[aria-title]:after {
		height:32px;
		padding:0 16px;
		font-size:14px;
		bottom:-30px;
	}
	[aria-title]:hover:after {
		bottom:-35px;
	}
}